<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
</style>


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../assets/img/get_coding.png);
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-size: cover;
}


:root {
  --primary-font: font-family: "Roboto", sans-serif;
  --bg-white: white;
  --bg-blue: #587291;
  --btn-primar-vine: #5b2e48;
  --text-dark: black;
}