header {
  text-align: center;
  padding: 1rem 2rem;
  background-color: grey;
  border-radius: 4px;
  margin: 2rem 2rem;
}

.header-nav-link {
  color: black;
  text-decoration: none;
  /* background-color: green; */
  padding: 1rem 2rem;
}
